* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-size: 100%;
}

html, body{
    height: 100vh;
}

body {
    font-family:sans-serif;
    font-family: 'Roboto Slab';
}
a{
    text-decoration:none; 
    color:  rgb(0, 163, 140);
}
main{
    display: flex;
    padding: 1%;
    justify-content: center;
    /*background: red;*/
}

section{
    display: flex;
    justify-content: center;
    width: 90%;
}

h1{
    font-family: 'Patua One';
    padding: 3%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: lighter;
}

h4{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(0, 44, 165);
}


form label{
    color:  rgb(206, 0, 113);
}
form input{
    caret-color: var(--roxo);
    width: 100%;
    height: 40px;
    border: 1px solid  rgb(0, 163, 140);
    border-radius: 10px;
    padding-left: 10px;
    resize:none; 
    margin-top: 5px;
}

button{
    border: none;
    cursor: pointer;
    background: none;
    transition: all .3s ease-in-out;
}

p{
    width: 100%;
    margin: 0 5px;
}

.content{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

}
.btn{
    width: 100%;
    height: 42px;
    cursor:pointer;
    border-radius:10px;
    font-weight:bold;
    font-size: 1rem; 
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    background:  rgb(255, 121, 166);
    color:white;
    margin-top: 10px;
}


.new-card{
    padding: 15px;
    height: 40px;
    cursor:pointer;
    border-radius:15px;
    font-weight:bold; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 121, 166);
    color: white;
}

.card-container {
    height: 100%;
    
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

}
.carousel-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    transition: all 0.25s ease-in;
}
  
.carousel-view .item-list {
    max-width: 950px;
    width: 71vw;
    padding: 20px 40px;
    display: flex;
    gap: 48px;
    scroll-behavior: smooth;
    transition: all 0.25s ease-in;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-x: auto;
    scroll-snap-type: x mandatory;

}
  
  
  /* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
    display: none;
}
  
.prev-btn {
    background: none;
    cursor: pointer;
}
  
.next-btn {
    cursor: pointer;
}


.flashcard {
    scroll-snap-align: center;
    margin: 0.2%;
    width: 100%;
    min-width: 180px;
    height: 240px;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}


.flashcard:active {
    transform: scale(0.97);
    transition: transform .5s;
  }
 
.flashcard.flipped {
    transform: rotateY(180deg);
}
 
.front-face{
    transform: rotateY(180deg);
}
 
.back-face, .front-face{
    height: 240px;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-color: white ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    color:  rgb(0, 44, 165);
    background-color: rgba(255, 192, 203, 0.6);
    padding: 5px;
    font-size: small;
 }

.edit{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;

}

#example{
    color: black;
}

.error{
    font-weight: bold;
    font-size: 0.6rem;
    color: red;
}