<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={{ url_for("static", filename = 'css/main.css') }}>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">   <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
   
   {% block head %} {%endblock%}
</head>
<body>
  {% block body %}
  {%endblock%}
  <script src={{ url_for("static", filename = 'script.js') }}></script>
</body>
</html>